BobTelegramBot/Service References/ServiceHelper/TelegramBotHelperService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.bankofbaku.com/PaymentService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bankofbaku.com/PaymentService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bankofbaku.com/PaymentService/Imports">
      <xsd:import schemaLocation="http://devsrv:8029/Services/TelegramBotHelperService?xsd=xsd0" namespace="http://www.bankofbaku.com/PaymentService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TelegramBotHelperService_GetCurrencyRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyRates" />
  </wsdl:message>
  <wsdl:message name="TelegramBotHelperService_GetCurrencyRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyRatesResponse" />
  </wsdl:message>
  <wsdl:message name="TelegramBotHelperService_RegisterUserFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserFeedback" />
  </wsdl:message>
  <wsdl:message name="TelegramBotHelperService_RegisterUserFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="TelegramBotHelperService_GetBranchAndAtmList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchAndAtmList" />
  </wsdl:message>
  <wsdl:message name="TelegramBotHelperService_GetBranchAndAtmList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBranchAndAtmListResponse" />
  </wsdl:message>
  <wsdl:message name="TelegramBotHelperService_GetFeedbackCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbackCategories" />
  </wsdl:message>
  <wsdl:message name="TelegramBotHelperService_GetFeedbackCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbackCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="TelegramBotHelperService_GetCardsAndBranches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardsAndBranches" />
  </wsdl:message>
  <wsdl:message name="TelegramBotHelperService_GetCardsAndBranches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardsAndBranchesResponse" />
  </wsdl:message>
  <wsdl:message name="TelegramBotHelperService_OrderPlasticCard_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderPlasticCard" />
  </wsdl:message>
  <wsdl:message name="TelegramBotHelperService_OrderPlasticCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderPlasticCardResponse" />
  </wsdl:message>
  <wsdl:portType name="TelegramBotHelperService">
    <wsdl:operation name="GetCurrencyRates">
      <wsdl:input wsaw:Action="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/GetCurrencyRates" message="tns:TelegramBotHelperService_GetCurrencyRates_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/GetCurrencyRatesResponse" message="tns:TelegramBotHelperService_GetCurrencyRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUserFeedback">
      <wsdl:input wsaw:Action="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/RegisterUserFeedback" message="tns:TelegramBotHelperService_RegisterUserFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/RegisterUserFeedbackResponse" message="tns:TelegramBotHelperService_RegisterUserFeedback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBranchAndAtmList">
      <wsdl:input wsaw:Action="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/GetBranchAndAtmList" message="tns:TelegramBotHelperService_GetBranchAndAtmList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/GetBranchAndAtmListResponse" message="tns:TelegramBotHelperService_GetBranchAndAtmList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackCategories">
      <wsdl:input wsaw:Action="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/GetFeedbackCategories" message="tns:TelegramBotHelperService_GetFeedbackCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/GetFeedbackCategoriesResponse" message="tns:TelegramBotHelperService_GetFeedbackCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardsAndBranches">
      <wsdl:input wsaw:Action="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/GetCardsAndBranches" message="tns:TelegramBotHelperService_GetCardsAndBranches_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/GetCardsAndBranchesResponse" message="tns:TelegramBotHelperService_GetCardsAndBranches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderPlasticCard">
      <wsdl:input wsaw:Action="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/OrderPlasticCard" message="tns:TelegramBotHelperService_OrderPlasticCard_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/OrderPlasticCardResponse" message="tns:TelegramBotHelperService_OrderPlasticCard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>