FacebookSoapService/Service References/VirtualCashInServiceReference/CashInVirtualTerminalServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://cashin/CashInAdminService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CashInVirtualTerminalServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://cashin/CashInAdminService" location="http://cashin.terminal.server:4443/VirtualCashIn?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="VirtualSOAP" type="i0:CashInVirtualTerminalServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPublicKey">
      <soap:operation soapAction="http://cashin/CashInAdminService/CashInVirtualTerminalServer/GetPublicKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <soap:operation soapAction="http://cashin/CashInAdminService/CashInVirtualTerminalServer/Pay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientInfo">
      <soap:operation soapAction="http://cashin/CashInAdminService/CashInVirtualTerminalServer/GetClientInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentServiceInfo">
      <soap:operation soapAction="http://cashin/CashInAdminService/CashInVirtualTerminalServer/GetPaymentServiceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPaymentCategories">
      <soap:operation soapAction="http://cashin/CashInAdminService/CashInVirtualTerminalServer/ListPaymentCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoPureByServiceCodes">
      <soap:operation soapAction="http://cashin/CashInAdminService/CashInVirtualTerminalServer/GetInfoPureByServiceCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScIdentificationMethodList">
      <soap:operation soapAction="http://cashin/CashInAdminService/CashInVirtualTerminalServer/GetScIdentificationMethodList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceCodesListByScCode">
      <soap:operation soapAction="http://cashin/CashInAdminService/CashInVirtualTerminalServer/GetServiceCodesListByScCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditRequest">
      <soap:operation soapAction="http://cashin/CashInAdminService/CashInVirtualTerminalServer/CreditRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientBirtday">
      <soap:operation soapAction="http://cashin/CashInAdminService/CashInVirtualTerminalServer/GetClientBirtday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CashInVirtualTerminalServer">
    <wsdl:port name="VirtualSOAP" binding="tns:VirtualSOAP">
      <soap:address location="http://cashin.terminal.server:4443/VirtualCashIn" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>