FacebookSoapService/Service References/ServiceHelper/TelegramBotHelperService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.bankofbaku.com/PaymentService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TelegramBotHelperService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.bankofbaku.com/PaymentService" location="http://devsrv:8029/Services/TelegramBotHelperService?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="SOAP" type="i0:TelegramBotHelperService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrencyRates">
      <soap:operation soapAction="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/GetCurrencyRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUserFeedback">
      <soap:operation soapAction="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/RegisterUserFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranchAndAtmList">
      <soap:operation soapAction="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/GetBranchAndAtmList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackCategories">
      <soap:operation soapAction="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/GetFeedbackCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardsAndBranches">
      <soap:operation soapAction="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/GetCardsAndBranches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderPlasticCard">
      <soap:operation soapAction="http://www.bankofbaku.com/PaymentService/TelegramBotHelperService/OrderPlasticCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TelegramBotHelperService">
    <wsdl:port name="SOAP" binding="tns:SOAP">
      <soap:address location="http://devsrv:8029/Services/TelegramBotHelperService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>